/* modal */
.name-modal-backdrop {
    background: rgba(255,255,255,0.4);
}
.name-modal-dialog .modal-content {
    border: solid 1px white;
    background-color: black;
}

.name-modal-body {
    padding: 20px 20px;
    color: white;
}
.name-modal-footer {
    padding: 0px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-modal-footer button{
    margin-left: 5px;
    margin-right: 5px;   
}

.name-modal-body input {
    margin-top: 5px;
    padding: 0.5em;
    background: black;
    color: white;
    width: 100%;
    border-radius: 10px;
    border: solid 1px gray;
    /* line-height: 2; */
}

.name-modal-body input:focus {
    outline: none !important;
    border: solid 1px white;
}